
@media screen and (max-width:1024px){
    .container{width:1024px;}
}
@media screen and (max-width:768px){
    .container{width:100%;}
    .rowresize{flex:0 0 100% !important;max-width:100.0% !important;}
    
}
@media screen and (max-width:736px){
    .container{width:100%;}
}
@media screen and (max-width:667px){
    .container{width:100%;}
}
@media screen and (max-width:640px){
    .container{width:100%;}
}
@media screen and (max-width:568px){
    .container{width:100%;}
}
@media screen and (max-width:480px){
    .container{width:100%;}
}
@media screen and (max-width:414px){
    .container{width:100%;}

}
@media screen and (max-width:375px){
    .container{width:100%;}
}
@media screen and (max-width:360px){
    .container{width:100%;}
}
@media screen and (max-width:320px){
    .container{width:100%;}
}
